.main {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
}
.main form {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.main form textarea {
    width: 80%;
}
.button {
    width: 100px;
}

.main ul {
    background-color: #36393e;

    list-style: none;
    padding: 16px;
}

.messageRoot {
    display: flex;
    flex-direction: column;
}
.contentRoot {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.avatar > img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}
.message {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.username {
    color: #0092d6 !important;
    font-weight: bolder;
}
.message > * {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.messageSeperator {
    width: 80%;
    margin: 0 auto;
    border-bottom: 2px solid white;
}
