:root {
	--background: #2f353a;
	--midground: #3a4149;
	--darkmidground: #343b41;
	--input: #515b65;
	--foreground: #ffffff;
	--highlight: #00a2f8;
}

.mainDiv {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background-color: var(--background);
}
.mainDiv * {
	color: white;
	box-sizing: border-box;
}
.header {
	width: 100vw;
	height: 50px;
	background-color: var(--midground);
	border-bottom: 2px solid black;
	padding: 10px;
	display: flex;
	align-items: center;
}
.body {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}
.sidebar {
	width: 20%;
	background-color: var(--midground);
	border-right: 1px solid black;
	padding: 10px;
}
.sidebar li {
	display: flex;
	align-items: center;
	font-size: 16px;
	height: 32px;
	padding-left: 10px;
}
.sidebar li:hover {
	background-color: var(--highlight);
	cursor: pointer;
}
.sidebar h3 {
	text-decoration: underline;
}
.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 1;
	padding: 10px;

	align-items: flex-start;
}
.content > * {
	flex: 1 1 40%;
	background-color: red;
	margin: 4px;
	border: 2px solid white;
}
.modpanel {
	background-color: var(--midground);
	border-radius: 5px;
	border: 1px solid black;
}
.modpanel > span {
	display: block;
	width: 100%;
	background-color: var(--darkmidground);
	border-bottom: 1px solid black;
	padding: 10px;
}
.modpanel > div {
	padding: 10px;
}
.mainDiv a {
	text-decoration: none;
	color: white;
}
.mainDiv .header > * {
	height: 100%;
	padding-right: 15px;
}
.mainDiv img {
	height: 100%;
}
.editableInput {
	background-color: var(--input);
	color: white;
}
.editableButton {
	background-color: var(--input);
}
.panelList {
	list-style-type: none;
}
