@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}
html {
    background: url("./backgroundPolygon.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
form {
    box-sizing: border-box;
    width: 100%;
}
label, input, textarea {
    margin: 0 auto;
    width: 80%;
}
textarea {
    margin-top: 1em;
    height: 150px;
}
#await {
    display: none;
}