* {
    margin: 0;
    padding: 0;
}
main {
    padding: 16px;
    display: flex;
    justify-content: space-around;
}
.block {
    border: 2px solid black;
    padding: 10px;
    flex-grow: 1;
}
.block * {
    width: 100%;
}

/* Singular Role Form */
label {
    margin-top: 8px;
}
#singular-role {
    display: table;
}
textarea {
    border: 2px solid black;
    margin-top: 16px;
    height: 200px;
}
.form-cmpt {
    display: table-row;
}
.form-cmpt label, .form-cmpt input, .form-cmpt .test-rmv {
    display: table-cell;
}
#test-lbl {
    display: inline-flex;
}
.test-rmv {
    display: inline-flex;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    width: 75px;
    text-align: center;
    height: 1.5em;
    display: table-cell;
    vertical-align: middle;
}