* {
    margin: 0;
    padding: 0;
}
main {
    padding: 16px;
    display: flex;
}
.block {
    border: 2px solid black;
    padding: 10px;

}
.block * {
    width: 100%;
}

.fill {
    display: inline-block;
    background-color: #00FF00;
    width: 32px;
    height: 1em;

    border: 2px solid black;
    vertical-align: middle;
}

textarea {
    border: 2px solid black;
    margin-top: 16px;
    height: 200px;
}

/* Singular Role Form */
#singular-role {
    display: table;
}
.form-cmpt {
    display: table-row;
}
.form-cmpt label, .form-cmpt input, .form-cmpt .test-rmv {
    display: table-cell;
}
#test-lbl {
    display: inline-flex;
}
.test-rmv {
    display: inline-flex;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    width: 75px;
    text-align: center;
    height: 1.5em;
    display: table-cell;
    vertical-align: middle;
}