.component {
	background-color: red;
	border: 1px solid black;
	border-radius: 25%;
}
.sidebarButton {
	width: 100%;
	border: 1px solid white;
	text-align: center;
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}
.sidebarButton :hover {
	color: gray;
	border: 1px solid red;
}
