.root {
    width: 100vw;
    height: 100vh;
}
.root > nav {
    height: 100%;
    width: 250px;
    background-color: #181818;
    color: white;
}
.root > nav > ul > li {
    color: white;
}
.importData {
}
