.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: white;
    border: 3px solid black;
    border-radius: 16px;
    padding: 16px;
}
.main img {
    margin: 8px auto;
    position: static;
    width: 30%;
}
.main form {
    box-sizing: border-box;
    width: 100%;
}
.main form :is(label, input, textarea) {
    margin: 0px auto;
    width: 80%;
}
.main form :is(span) :hover{
    color: red;
}
.main form input[type="submit"] {
    margin-top: 8px;
    width: 80%;
}
.main form button {
    margin: 0px auto;
    display: block;
}
.main textarea {
    margin-top: 1em;
    height: 150px;
}
