* {
    margin: 0;
    padding: 0;
}
main {
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.block {
    border: 2px solid black;
    padding: 10px;
    flex-grow: 1;
}
.invisible {
    display: none!important;
}

/* Role Card Output */
.exportSectionDiv {
    margin-bottom: 5px;
}
.exportSectionDiv span {
    width: auto;
}
.exportSectionDiv button {
    margin-left: 5px;
    width: auto;
}
.exportSectionDiv textarea {
    display: none;
}

/* Modular Forms */
.form-component {
    border: none;
    margin-bottom: 0.5em;
}
.form-component label, .form-component .field-button {
    width: auto;
    margin-right: 5px;
}
#generateBtnSingular {
    margin-top: 10px;
}

/* Modals */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    margin: 15% auto;
    padding: 20px;
    border: 2px solid black;
    width: 80%;
    background-color: white;
}
.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.modal-close:hover, .modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-content form, .modal-content form * {
    width: 100%;
}

/* Tab System */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    display: none;
}
.tabcontent form, .tabcontent form * {
    width: 100%;
}
#singular {
    display: block;
}

/* Singular Role Form */
label {
    margin-top: 8px;
}
#singularRole {
    display: table;
    margin-bottom: 10px;
}
textarea {
    border: 2px solid black;
    height: 100px;
}
.form-cmpt {
    display: table-row;
}
.form-cmpt label, .form-cmpt input, .form-cmpt .test-rmv {
    display: table-cell;
}
#test-lbl {
    display: inline-flex;
}
.test-rmv {
    display: inline-flex;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    width: 75px;
    text-align: center;
    height: 1.5em;
    display: table-cell;
    vertical-align: middle;
}

/* TABLES */
table {
    font-family: arial, sans-serif;
    display: inline-table;
    border-collapse: collapse;
    width: 100%;
    margin: 10px auto;
} 
td, th {
    min-width: 0;
    width: auto;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}