@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}
html {
    background: url("../img/backgroundPolygon.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
    font-size: 2em;
    font-weight: bold;
}
h2 {
    font-size: 1.3em;
    font-weight: 700;
}
.centerModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: white;
    border: 3px solid black;
    border-radius: 16px;
    padding: 16px;
}
.centerModal > img {
    margin: 8px auto;
    position: static;
    width: 30%;
}
.menuoption {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    width: 80%;
    height: 2em;
    border: 1px solid black;
    border-radius: 8px;
    margin: 4px auto;
}
.menuoption:hover {
    background-color: black;
    color: white;
    border-color: white;
}
a {
    display: block;
    color: black;
}
a:hover {
    color: darkblue;
}
form {
    box-sizing: border-box;
    width: 100%;
}
label, input, textarea {
    margin: 0px auto;
    width: 80%;
}
input[type='submit'] {
    margin: 16px auto;
}
textarea {
    margin-top: 1em;
    height: 150px;
}
.await {
    display: none;
}
form button {
    width: 80%;
    margin-top: 8px;
}