@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}
html {
    background: url("../img/backgroundPolygon.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
    font-size: 2em;
    font-weight: bold;
}
h2 {
    font-size: 1.3em;
    font-weight: 700;
}
.centerModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    background-color: white;
    border: 3px solid black;
    border-radius: 16px;
    padding: 16px;
}
.centerModal > img {
    margin: 0 auto;
    position: static;
    width: 20%;
}