.modalForm {
	box-sizing: border-box;
	width: 100%;
}
.modalForm :is(label, input, textarea) {
	margin: 0px auto;
	width: 80%;
}
.modalForm input[type='submit'] {
	margin-top: 8px;
	width: 80%;
}
.modalForm button {
	margin: 0px auto;
	display: block;
}
