@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Mono', monospace;
}
html {
	background: url('../img/backgroundPolygon.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h1 {
	font-size: 2em;
	font-weight: bold;
}
h2 {
	font-size: 1.3em;
	font-weight: 700;
}
a {
	display: block;
	color: black;
}
a:hover {
	color: darkblue;
}

/* MODAL FORM */
.modalMain {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 500px;
	background-color: white;
	border: 3px solid black;
	border-radius: 16px;
	padding: 16px;
}
.modalMain h1 {
	margin-top: 0;
	margin-bottom: 16px;
}
.modalMain h3 {
	margin-top: 8px;
}
.modalMain img {
	margin: 8px auto;
	position: static;
	width: 30%;
}
.modalForm {
	box-sizing: border-box;
	width: 100%;
}
.modalForm :is(label, input, textarea) {
	margin: 0px auto;
	width: 80%;
	display: block;
}
.modalForm input[type='submit'] {
	margin-top: 8px;
	width: 80%;
}
.modalForm button {
	margin: 0px auto;
	display: block;
}
.modalResult {
	width: 100%;
	height: 8em;
	margin: 0 auto;
}
.modalResult textarea {
	margin: 0 auto;
	width: 80%;
	height: 100%;
}
.rolecard {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
}
.rolecard > * {
	padding: 4px;
	color: white;
}
.rolecard > .sidebar {
	background-color: #333;
	border-right: 2px solid black;
	width: 25%;
}
.rolecard > .content {
	flex-grow: 1;
}
.rolecard > .content > .component {
	background-color: white;
	color: black;
	border: 1px solid black;
}
.rolecard > .sidebar > .sidebarButton {
	width: 100%;
	border: 1px solid white;
	text-align: center;
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}
